 *{
    margin:0px;
    padding:0px;
    text-align: center;
 }

 h1{
    background-color: rgba(59, 229, 232, 0.891);
    color: white;
    height: 5rem;
    line-height: 5rem;
 }  
 .choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .choice:hover{
    cursor: pointer;
    background-color: rgba(221, 226, 70, 0.948);
 }
 img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
 }
 .choices{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    gap:3rem;
 }
 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 2rem;
    gap:5rem;
 }
 #user-score , #comp-score{
    font-size: 4rem;
 }

   .msg-container{
    margin-top: 5rem;
   }
  #msg {
   background-color:rgb(237, 52, 218) ;
   color: white;
   font-size: 1.5rem;
   display: inline;
   padding: 1rem;
   border-radius: 1rem;
  }